@{
    ViewData["Title"] = "Category Page";
}

<h3>Category Manage</h3>

<div>
    <div>
        <button id="btnAdd" type="button" onclick="add();">
            <span>
                <p>Add</p>
            </span>
        </button>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Category Id</th>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="tblCategoryList">
    </tbody>
</table>

<div class="modal fade" id="topUpModal" tabindex="-1" aria-labelledby="topUpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="topUpModalLabel">Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="topUpModalContent"></div>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var method = "";

        $(document).ready(function () {
            loadData();

            $("#btnSave").click(function () {
                var formData = new FormData();
                formData.append("CategoryId", $("#CategoryId").val());
                formData.append("CategoryName", $("#CategoryName").val());
                formData.append("httpMethod", method);

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save", "Category")',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (result) {
                        if (result.status >= 1) {
                            $('#topUpModal').modal('hide');
                            loadData();
                        }
                        alert(result.message);
                    },
                    error: function (xhr, error) {
                        console.log(xhr);
                    }
                });
            });
        })

        function loadData() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetAll", "Category")',
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var html = "";
                    $.each(data, function (key, item) {
                        html += "<tr>";
                        html += "<td>" + item.categoryId + "</td>";
                        html += "<td>" + item.categoryName + "</td>";
                        html += '<td class="action-links">';
                        html += '<a href="#" onclick = "return detail(\'' + item.categoryId + '\')" > Detail </a><a href="#" onclick="return edit(\'' + item.categoryId + '\')">Edit</a> <a href="#" onclick = "delele(\'' + item.categoryId + '\')" > Delete </a></td > ';
                        html += "</tr>";
                    });
                    $('.tblCategoryList').html(html);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

        function add() {
            $("#topUpModalContent").html("");
            $("#topUpModalLabel").html("Add New Category");
            method = "POST";

            $.ajax({
                url: '@Url.Action("Add", "Category")',
                type: "GET",
                success: function (result) {
                    $("#topUpModalContent").html(result);
                    $('#topUpModal').modal('show');
                },
                error: function (message) {
                    alert(message);
                }
            });
        }

        function edit(id) {
            $("#topUpModalContent").html("");
            $("#topUpModalLabel").html("Update Category");
            method = "PUT"

            var formData = new FormData();
            formData.append("id", id);

            $.ajax({
                url: '@Url.Action("Edit", "Category")',
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (result) {
                    $("#topUpModalContent").html(result);
                    $('#topUpModal').modal('show');
                },
                error: function (message) {
                    console.log(message)
                    alert(message);
                }
            });
        }

        function detail(id) {
            $("#topUpModalContent").html("");
            $("#topUpModalLabel").html("Category Detail");

            var formData = new FormData();
            formData.append("id", id);

            $.ajax({
                url: '@Url.Action("Detail", "Category")',
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (result) {
                    $("#topUpModalContent").html(result);
                    $('#topUpModal').modal('show');
                },
                error: function (message) {
                    console.log(message)
                    alert(message);
                }
            });
        }

        function delele(id) {
            var result = confirm("Are you sure to delete?");
            method = "DELETE";
            if (result) {
                var formData = new FormData();
                formData.append("id", id);

                $.ajax({
                    url: '@Url.Action("Delete", "Category")',
                    type: "DELETE",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (result) {
                        if (result.status >= 1) {
                            $('#topUpModal').modal('hide');
                            loadData();
                        }
                    },
                    error: function (message) {
                        alert(message);
                    }
                });
            }
        }
    </script>
}
